@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.nav-li-hover li :hover{
    @apply text-orange-500;
}
.nav-li-hover li .active{
    @apply text-orange-500;
}
